/* move */
@keyframes c-leg-R-anime {
    0% {
        position: absolute;
        transform: rotate(-15deg);
        left: 26px;
    }

    50% {
        transform: rotate(0deg);
        left: 31px;
    }

    100% {
        position: absolute;
        transform: rotate(-15deg);
        left: 26px;
    }
}

@keyframes c-leg-L-anime {
    0% {
        transform: rotate(15deg);
        left: 28px;
    }

    50% {
        transform: rotate(0deg);
        left: 26px;
    }

    100% {
        transform: rotate(15deg);
        left: 28px;
    }
}

/* jump */
@keyframes cap-jump {
    0% {
        bottom: 10px;
    }

    10% {
        bottom: 80px;
        transform: rotate(0deg);
    }

    30% {
        bottom: 300px;
    }

    100% {
        transform: rotate(-360deg);
        bottom: 10px;
    }
}


@keyframes iron-jump {
    0% {
        bottom: 10px;
    }

    10% {
        bottom: 100px;
    }

    30% {
        bottom:400px;
    }

    100% {
        bottom: 10px;
    }
}